*{
    margin: 0px;
    padding: 0px;
    background-color: antiquewhite;
}

body{
    background-color: #dadada;
    width: 100vw;
    height: 100vh;
    /* background-image: linear-gradient(75deg, blue, orange, red); */
}

header{
    width: 100%;
    height: 15px;

    background-color: darkslategrey;
}

#menu_lateral{
    width: 20vw;
    height: 100%;
    background-color: blue;
}