*{padding: 0; margin: 0; box-sizing: border-box; color: #fff;}

header{
    width: 98vw;
    height: 10vh;

    position: relative;
    top: 0;
}

#nav a{
    width: 100%;
    /* justify-content: space-around; */
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 50px;
}

