    /* Proporção */
    
    /* alinhamento de conteudo */
    
    /* alinhamento tela */
    
    /* estilo */
    


*{padding: 0; margin: 0; box-sizing: border-box;}

header{
    /* Proporção */
    width: 99vw;
    height: 10vh;    
    /* alinhamento de conteudo */
    display: flex;
    align-items: center;/*alinha na vertical*/
    justify-content: space-between;/*alinha na horizontal*/    
    /* alinhamento tela */
    position: relative;
    top: 0;  
    /* estilo */
    color: aliceblue;
    background-color: darkslategrey;
}

header img{
    margin-left: 1vw;
    border-radius: 5px;
}

header a{
    font-size: 25px;
    margin-right: 1vw;
    background-color: cadetblue;
    color: aliceblue;
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
}

#nav{
    width: 100vw;
    height: 8vh;

    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: cornflowerblue;
}

#nav a{
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 50px;
    font-size: 25px;
    font-weight: 700;
    color: black;
}

#principal{
    /* Proporção */
    width: 80vw;
    height: 100%;
    /* alinhamento de conteudo */
    display: flex;
    justify-content: space-around;
    /* alinhamento tela */
    position: relative;
    left: 10vh;
    margin: 5px;
    /* estilo */
    background-color: grey;
    border-radius: 15px;
}

#principal main{
    width: 65vw;
    height: 1500px;
    background-color: aqua;
    position: relative;
    right: 0;
    margin: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* Proporção */
    
    /* alinhamento de conteudo */
    
    /* alinhamento tela */
    
    /* estilo */
    
    
}

#principal aside{
    /* Proporção */
    width: 25vw;
    height: 600px;
    /* alinhamento de conteudo */
    
    /* alinhamento tela */
    position: relative;
    margin: 15px;  
    /* estilo */
    background-color: darksalmon;
    border-top-right-radius: 10px;
}